.header-logo {
    height: 63px;
    width: 100%;
    @include item-center;
    @include desktop-only {
        height: 96px;
    }
}

header {
    background: $white-color;
    position: relative;
    z-index: 2;
    & img {
        @include logo-img;
    }
}

form {
    width: 100%;
    height: 50px;
    background-color: $search-color;
    @include item-center;
    gap: 17px;
}

.fa-location-dot {
    color: $footer-color;
}

.edittext {
    background: $search-color;
    border: none;
    width: 109px;
    &::placeholder {
        color: $footer-color;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
    }
}

.fa-arrow-left-long {
    position: absolute;
    top: 24px;
    left: 23px;
    @include desktop-only {
        top: 40px;
    }
}