.main-page {
    @include item-colcenter;
}

.img-page {
    object-fit: cover;
    width: 100%;
    height: 275px;
    @include desktop-tablette {
        position: relative;
        height: 500px;
        top: -96px;
        z-index: 0;
    }
}

.section-page {
    background: $backgray-color;
    border-radius: 30px 30px 0 0;
    padding: 32px 0 40px 0;
    position: relative;
    margin-top: -55px;
    width: 100%;
    max-width: 1055px;
    @include desktop-tablette {
        padding: 51px 0 40px 0;
        margin-top: -150px;
    }
}

.titre-heart {
    @include item-rowcenter;
    justify-content: space-between;
    margin: 0 28px 2px 0;
    & h2 {
        margin: 0 24px 0 17px;
    }
    @include desktop-tablette {
        justify-content: center;
        margin: 0 0 2px 0;
    }

}

.menu {
    padding: 0 13px 0 13px;
    max-width: 634px;
    margin-left: auto;
    margin-right: auto;
}

.titre-menu {
    margin: 40px 0 0 0;
    opacity: 0;
}

hr {
    margin: 3px 0 0 0;
    border: 1.5px solid #99E2D0;
  	width: 37px;
    opacity: 0;
}

.btn-commander {
    @include item-colcenter;
    margin: 40px 0 0 0;
}

.btn-command {
    width: 186px;
}