.section-fonct {
    margin: 48px 20px 68px 20px;
    @include desktop-only {
        margin: 50px 20px;
    }
    & h2 {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 26px;
        width: 335px;
        @include desktop-only {
            margin-left: 160px;
        }
    }
}

.group-div {
    @include item-colcenter;
    gap: 25px;
    @include desktop-only {
        flex-direction: row;
        margin-left: 160px;
    }
}

.selection-div i {
    margin-left: 34.49px;
}

.fa-color {
    color: $grey-color;
}

.fa-store {
    color: $primary-color;
}