.section-fonct {
    margin: 48px 20px 68px 20px;
    @include item-colcenter;
    @include desktop-only {
        margin: 50px 20px;
    }
}

.fonct-div {
    width: 335px;
    @include desktop-only {
        width: 100%;
        max-width: 1080px;
    }
    & h2 {
        margin: 0 0 26px 0;
    }
}

.group-div {
    @include item-colcenter;
    gap: 25px;
    @include desktop-only {
        flex-direction: row;
    }
}

.selection-div i {
    margin-left: 34.49px;
}

.fa-color {
    color: $grey-color;
}

.fa-store {
    color: $primary-color;
}