/******************btn-section-exploration******************/
.btn-gradient {
    height: 50px;
    color: $white-color;
    background: $lineargradient-color;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    z-index: 1;
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        border-radius: 25px;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $lightgradient-color;
        box-shadow: 0 4px 15px $hovershadow-color;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }
}

/******************btn-section-fonctionnement******************/
.selection-div {
    position: relative;
    margin-left: 12.51px;
    @include item-rowcenter;
    gap: 27px;
    box-shadow: 0px 4px 15px $boxshadow-color;
    border-radius: 20px;
    height: 72.38px;
    min-width: 290.49px;
    width: 100%;
    max-width: 322.49px;
    background: $backgray-color;
}

.number {
    width: 24px;
    height: 24px;
    background: $primary-color;
    color: $white-color;
    border-radius: 50%;
    @include item-center;
    position: absolute;
    left: -12px;
    font-size: 14.18px;
}

/******************btn-page-menu-resto******************/
.card-page {
    display: flex;
    justify-content: space-between;
    background: $white-color;
    border-radius: 15px;
    margin-top: 12px;
    cursor: pointer;
    overflow: hidden;
    opacity: 0;
    &:hover .sliceX {
        margin-right: 0px;
    }
    & .div-ingredient {
        padding: 12px 0 12px 15px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    & h4 {
        margin: 0 0 5px 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    & p {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.sliceX {
    display: flex;
    margin-right: -59px;
    transition: 500ms ease-in-out;
}

.div-euro {
    display: flex;
    align-items: flex-end;
    padding: 0 15px 12px 15px;
}

.animation-menu {
    @include item-center;
    width: 59px;
    height: 69px;
    background: $third-color; 
}

.fa-circle-check {
    font-size: 20px;
    color: $white-color;
}