/******************btn-section-exporation******************/
.btn-gradient {
    height: 50px;
    width: 218px;
    color: $white-color;
    background: $lineargradient-color;
    border-radius: 25px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 16px;
    font-weight: 500;
}
/******************btn-section-fonctionnement******************/
.selection-div {
    position: relative;
    margin-left: 12.51px;
    @include item-rowcenter;
    gap: 27px;
    box-shadow: 0px 4px 15px $boxshadow-color;
    border-radius: 20px;
    height: 72.38px;
    width: 322.49px;
    background: $backgray-color;
}

.number {
    width: 24px;
    height: 24px;
    background: $primary-color;
    color: $white-color;
    border-radius: 50%;
    @include item-center;
    position: absolute;
    left: -12px;
}