body {
  font-family: "Roboto", sans-serif;
}

.font-logo {
  font-family: "Shrikhand", sans-serif;
  font-style: italic;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

.main-contain {
  position: relative;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}

h1.font-logo {
  font-size: 30px;
}

.section-explore h1 {
  font-weight: 700;
}
@media screen and (min-width: 1440px) {
  .section-explore h1 {
    font-size: 40px;
  }
}
.section-explore p {
  font-size: 18px;
  font-weight: 300;
}

.section-fonct h2 {
  font-weight: 700;
}

.section-resto h2 {
  font-weight: 700;
}
.section-resto h3 {
  font-size: 18px;
  font-weight: 700;
}

h2.font-logo {
  font-size: 28px;
}

h3.titre-menu {
  font-size: 16px;
  font-weight: 300;
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

.ingredient {
  font-size: 15.04px;
  font-weight: 300;
}

.euro {
  font-size: 15.04px;
  font-weight: 700;
}

footer p {
  font-weight: 500;
}

.footer-contact {
  font-weight: 400;
}

/******************btn-section-exploration******************/
.btn-gradient {
  height: 50px;
  color: #FFFFFF;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  z-index: 1;
}
.btn-gradient:hover::after {
  opacity: 1;
}
.btn-gradient::after {
  border-radius: 25px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

/******************btn-section-fonctionnement******************/
.selection-div {
  position: relative;
  margin-left: 12.51px;
  display: flex;
  align-items: center;
  gap: 27px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  height: 72.38px;
  width: 322.49px;
  background: #F6F6F6;
}

.number {
  width: 24px;
  height: 24px;
  background: #9356DC;
  color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -12px;
  font-size: 14.18px;
}

/******************btn-page-menu-resto******************/
.card-page {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 15px;
  margin-top: 12px;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
}
.card-page:hover .sliceX {
  margin-right: 0px;
}
.card-page .div-ingredient {
  padding: 12px 0 12px 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-page h4 {
  margin: 0 0 5px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-page p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sliceX {
  display: flex;
  margin-right: -59px;
  transition: 500ms ease-in-out;
}

.div-euro {
  display: flex;
  align-items: flex-end;
  padding: 0 15px 12px 15px;
}

.animation-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 59px;
  height: 69px;
  background: #99E2D0;
}

.fa-circle-check {
  font-size: 20px;
  color: #FFFFFF;
}

/******************animation-loader*******************/
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  animation: load-end 1s forwards;
  animation-delay: 3S;
}
.loader i {
  font-size: 100px;
  animation: load-rotate 1s cubic-bezier(0, 0, 0.18, 0.95);
  animation-iteration-count: 3;
}

@keyframes load-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes load-end {
  from {
    z-index: 10;
    opacity: 1;
  }
  to {
    z-index: -1;
    opacity: 0;
  }
}
/******************animation-heart*******************/
.emptyheart {
  font-size: 21px;
  color: black;
  position: relative;
}
.emptyheart:hover .fullheart {
  opacity: 1;
}

.fullheart {
  font-size: 21px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 250ms;
}

/******************animation-menu-appearrance*******************/
@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.visible1 {
  animation: appearance forwards;
  animation-duration: 300ms;
  animation-delay: 300ms;
}

.visible2 {
  animation: appearance forwards;
  animation-duration: 300ms;
  animation-delay: 600ms;
}

.visible3 {
  animation: appearance forwards;
  animation-duration: 300ms;
  animation-delay: 900ms;
}

.visible4 {
  animation: appearance forwards;
  animation-duration: 300ms;
  animation-delay: 1200ms;
}

.visible5 {
  animation: appearance forwards;
  animation-duration: 300ms;
  animation-delay: 1500ms;
}

.visible6 {
  animation: appearance forwards;
  animation-duration: 300ms;
  animation-delay: 1800ms;
}

.visible7 {
  animation: appearance forwards;
  animation-duration: 300ms;
  animation-delay: 2100ms;
}

.visible8 {
  animation: appearance forwards;
  animation-duration: 300ms;
  animation-delay: 2400ms;
}

.visible9 {
  animation: appearance forwards;
  animation-duration: 300ms;
  animation-delay: 2700ms;
}

.visible10 {
  animation: appearance forwards;
  animation-duration: 300ms;
  animation-delay: 3000ms;
}

.visible11 {
  animation: appearance forwards;
  animation-duration: 300ms;
  animation-delay: 3300ms;
}

.visible12 {
  animation: appearance forwards;
  animation-duration: 300ms;
  animation-delay: 3600ms;
}

.visible13 {
  animation: appearance forwards;
  animation-duration: 300ms;
  animation-delay: 3900ms;
}

.header-logo {
  height: 63px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1440px) {
  .header-logo {
    height: 96px;
  }
}

header img {
  width: 162px;
  height: 44px;
}

form {
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
}

.fa-location-dot {
  color: #353535;
}

.edittext {
  background: #EAEAEA;
  border: none;
  width: 109px;
}
.edittext::placeholder {
  color: #353535;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.fa-arrow-left-long {
  position: absolute;
  top: 24px;
  left: 23px;
}
@media screen and (min-width: 1440px) {
  .fa-arrow-left-long {
    top: 40px;
  }
}

.section-explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F6F6F6;
}
.section-explore h1 {
  text-align: center;
  margin: 39.5px 0 0 0;
}
@media screen and (min-width: 1440px) {
  .section-explore h1 {
    margin: 30px 0 18px 0;
  }
}
.section-explore p {
  text-align: center;
  margin: 0 34px 27px 34px;
}
@media screen and (min-width: 1440px) {
  .section-explore p {
    margin: 0 34px 18px 34px;
  }
}
.section-explore .btn-explore {
  margin-bottom: 57px;
  width: 218px;
}
@media screen and (min-width: 1440px) {
  .section-explore .btn-explore {
    margin-bottom: 30px;
  }
}

.section-fonct {
  margin: 48px 20px 68px 20px;
}
@media screen and (min-width: 1440px) {
  .section-fonct {
    margin: 50px 20px;
  }
}
.section-fonct h2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 26px;
  width: 335px;
}
@media screen and (min-width: 1440px) {
  .section-fonct h2 {
    margin-left: 160px;
  }
}

.group-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
@media screen and (min-width: 1440px) {
  .group-div {
    flex-direction: row;
    margin-left: 160px;
  }
}

.selection-div i {
  margin-left: 34.49px;
}

.fa-color {
  color: #7E7E7E;
}

.fa-store {
  color: #9356DC;
}

.section-resto {
  background-color: #F6F6F6;
  padding: 54px 17px 66px 17px;
}
@media screen and (min-width: 1440px) {
  .section-resto {
    padding: 30px 17px;
  }
}
.section-resto h2 {
  margin: 0 0 28px 3px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 490px;
}
@media screen and (min-width: 1440px) {
  .section-resto h2 {
    margin: 0 0 28px 163px;
  }
}
.section-resto nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
@media screen and (min-width: 1440px) {
  .section-resto nav {
    display: grid;
    grid-template-columns: 490px 490px;
    justify-content: center;
    row-gap: 50px;
    column-gap: 100px;
  }
}

.card {
  position: relative;
  width: 100%;
  max-width: 490px;
  height: 251px;
  background-color: #FFFFFF;
  border-radius: 15px;
}
.card img {
  object-fit: cover;
  width: 100%;
  height: 174px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.new {
  display: block;
  margin: 0px;
  position: absolute;
  right: 12px;
  top: 12px;
  background: #99E2D0;
  padding: 7px 9px 6px 9px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  color: #008766;
  font-size: 14px;
  font-weight: 500;
}

.card-txt {
  padding: 12px 13px;
}
.card-txt h3 {
  margin: 0 0 5px 0;
}

.sous-titre {
  margin: 0px;
  font-weight: 300;
  font-size: 17px;
}

.resto-heart {
  position: absolute;
  right: 25px;
  bottom: 33px;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-page {
  object-fit: cover;
  width: 100%;
  height: 275px;
}

.section-page {
  background: #F6F6F6;
  border-radius: 30px 30px 0 0;
  padding: 32px 0 40px 0;
  position: relative;
  margin-top: -55px;
  width: 100%;
  max-width: 1055px;
}
@media screen and (min-width: 1440px) {
  .section-page {
    padding: 51px 0 40px 0;
  }
}

.titre-heart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 28px 2px 0;
}
.titre-heart h2 {
  margin: 0 24px 0 17px;
}
@media screen and (min-width: 1440px) {
  .titre-heart {
    justify-content: center;
    margin: 0 0 2px 0;
  }
}

.menu {
  padding: 0 13px 0 13px;
  max-width: 634px;
  margin-left: auto;
  margin-right: auto;
}

.titre-menu {
  margin: 40px 0 0 0;
  opacity: 0;
}

hr {
  margin: 3px 0 0 0;
  border: 1.5px solid #99E2D0;
  width: 37px;
  opacity: 0;
}

.btn-commander {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 0 0;
}

.btn-command {
  width: 186px;
}

footer {
  background-color: #353535;
  color: #FFFFFF;
  padding: 22px 25px;
}
@media screen and (min-width: 1440px) {
  footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 30px 26.42px;
    gap: 7px;
    height: 54px;
  }
}
footer h3 {
  width: 137.58px;
  font-size: 18px;
  margin: 0 0 9px 0;
}
@media screen and (min-width: 1440px) {
  footer h3 {
    order: 3;
    margin: 0 0 0 9px;
  }
}
footer div {
  display: flex;
  align-items: center;
  gap: 11px;
}
footer p {
  margin: 7px 0 0 0;
}
footer a {
  color: #FFFFFF;
}

.fa-utensils, .fa-handshake-angle {
  margin-top: 7px;
  font-size: 13px;
}

.footer-restaurant, .footer-partenaire {
  width: 168px;
}
.footer-legal, .footer-contact {
  width: 130px;
}/*# sourceMappingURL=style.css.map */