h1.font-logo {
    font-size: 30px;
    @media screen and (min-width: 1024px) {
        font-size: 33px;
    }
}

.section-explore {
    & h1 {
        font-weight: 700;
        @media screen and (min-width: 1024px) {
            font-size: 40px;
        }
    }
    & p {
        font-size: 18px;
        font-weight: 300;
    }
}

.section-fonct {
    & h2 {
        font-weight: 700;
    }
}

.section-resto {
    & h2 {
        font-weight: 700;
    }
    & h3 {
        font-size: 18px;
        font-weight: 700;
    }
}

h2.font-logo {
    font-size: 28px;
}

h3.titre-menu {
    font-size: 16px;
    font-weight: 300;
}

h4 {
    font-size: 18px;
    font-weight: 500;
}

.ingredient {
    font-size: 15.04px;
    font-weight: 300;
}

.euro {
    font-size: 15.04px;
    font-weight: 700;
}

footer p {
    font-weight: 500;
}

.footer-contact {
    font-weight: 400;
}