$primary-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;

$footer-color: #353535;
$white-color: #FFFFFF;
$search-color: #EAEAEA;
$backgray-color: #F6F6F6;
$green-color: #008766;
$black-color: #101010;
$grey-color: #7E7E7E;

$boxshadow-color: rgba(0, 0, 0, 0.15);
$hovershadow-color: rgba(0, 0, 0, 0.35);
$lineargradient-color: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$lightgradient-color: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);